// Color Pallate
$Black:  #323232;
$Instock-blue: #004892;
$Brainflix-blue:#0095FF;
$White: #FFFFFF;
$Silver: #AFAFAF;
$Instock-blue-dark: #002F5F;
$Brainflix-blue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

// Fonts
@font-face {
    font-family: "AvenirNextRegular";
    src: url(../fonts/AvenirNextRegular.otf);
}

@font-face {
    font-family: "AvenirNextDemiBold";
    src: url(../fonts/AvenirNextDemi.otf);
}

@font-face {
    font-family: "AvenirNextBold";
    src: url(../fonts/AvenirNextBold.otf)
}

// Mobile Styling
body {
    margin: 0px;
    font-family: AvenirNextRegular;
}

main {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 7.5vw;
    line-height: 10vw;
    margin: 0px;
    font-family: AvenirNextBold;
}

h2 {
    font-size: 5vw;
    line-height:7vw;
    margin: 0px;
    font-family: AvenirNextDemiBold;
}

h3 {
    font-size: 4vw;
    line-height: 6vw;
    margin: 0px;
    font-family: AvenirNextDemiBold;
}

h4 {
    font-size: 3.8vw;
    line-height: 5vw;
    margin: 0px;
    font-weight: normal;
}

h5 {
    font-size: 4vw;
    line-height: 6vw;
    color: $Silver;
    margin: 0px;
    padding-bottom: 5vw;
}

table {
    margin: 0px 5%;
    padding-bottom: 40px;
}

td {
    display: block;
}
    


// Mobile Navigation Bar
nav {
    background-color: $Black;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    h3{
        font-family: AvenirNextRegular;
    }
}

.nav__logo{
    display: flex;
    padding-bottom: 1vw;
}

.nav__pages {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.nav__text {
    &:hover {
        border-color: $White;
        font-weight: bold;
        color: $White;
        transition: 0.3s;
    }
    color: $Mercury;
    text-align: center;
    width: 50%;
    padding: 2vw;
    font-family: AvenirNextRegular;
    font-weight: normal;
    border-bottom: solid $Black 5px;
}


.nav__text--selected {
    color: $White;
    border-bottom: solid $White 5px;
    font-weight: bold;
}

// Mobile Hero Image and Title
header {
    background-image: url(../assets/Images/Hero-image.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: 100%;
    height: 57vw;
    display: flex;
    align-items: center;

}

.header__shows {
    @extend header;
    background-image: url(../assets/Images/Show-image.jpg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-position: center;
    height: 150vw;
    flex-direction: column;
    justify-content: flex-start;
}

.header__title {
    color: $White;
    width: 70%;
    padding: 5%;
}

.header__title--shows {
    @extend .header__title;
    font-size: 11vw;
    line-height: 14vw;
    width: 90%;
    padding-bottom: 20vw;
}

.header__text--small {
    @extend .header__title;
    align-self: flex-start;
    padding-bottom: 0px;
    padding-top: 20vw;
    font-size: 4.5vw
}

.header__SoundCloud--container {
    width: 90%;
    align-self: center;
}

.header__SoundCloud {
    width: 100%;
    height: 30vw;
}


// Mobile Body and Photos

.main__image--large {
    object-fit: cover;
    width: 90%;
    height: 45vw;
    align-self: center;
    padding: 7.5vw 0px;
}

.main__image--small {
    &:hover{
        filter: grayscale(0%);
        transition: 0.3s;
    }
    width: 90%;
    align-self: center;
    padding-bottom: 5%;
    filter: grayscale(100%);
}

.main__text {
    width: 90%;
    align-self: center;
}

.main__text--title {
    @extend .main__text;
    padding-bottom: 12.5%
}

.main__text--label {
    @extend .main__text;
    padding-bottom: 5%;
}

.main__label--top {
    display: none;
}

.main__text--info {
    @extend .main__text;
    padding-bottom: 7.5%;
}

.main__text--date {
    @extend .main__text--info;
}

.main__divider {
    background-color: $Mercury;
    height: 1px;
    width: 100%;
    margin-bottom: 7.5%;
}

.main__quote {
    @extend .main__text;
    padding-bottom: 10%;
}

.main__quote--attribution {
    @extend .main__text;
    padding-bottom: 12.5%;
}

.main__paragraph--title {
    @extend .main__text;
    padding-bottom: 7.5%;
}

.main__paragraph--container {
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.main__paragraph--text {
    @extend .main__text;
    width: 100%;
}

.main__photoGallery {
    background-color: $Alabaster;
    display: flex;
    flex-direction: column;
    margin-top: 12.5%;
    padding-bottom: 8%;
}

.main__photoGallery--title {
    @extend .main__text;
    padding-bottom: 7.5%;
}

.main__button--cta {
    &:hover {
        background-color: black;
        transition: 0.2s;
    }
    border-radius: 4px;
    border: none;
    background-color: $Black;
    color: white;
    font-weight: 500;
    font-size: 4vw;
    width: 100%;
    height: 15vw;
    align-self: center;
    margin: 2.5% 0px 5% 0px;
}

.main__comments {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 90%;
}

.main__comments--title {
    padding: 0px 0px 5% 5%
}

.main__profilepic--container {
    display: inline-block;
    margin-right: 5%;
    margin-top: 6vw;
    padding-top: 32px;
}

.main__profilepic {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    background-color: $Mercury;
}

.main__comments--container {
    width: 78%;
    h5 {
        padding-bottom: 8px;
        padding-top: 24px;
    }
}

.main__comments--button {
    @extend .main__button--cta;
    margin: 8px 0px 32px 0px
}

.main__comments--input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: AvenirNextRegular;
    font-size: 4vw;
    padding: 7%;
    background-color: $Alabaster;
    border: solid $Mercury 1.5px;
    &:focus {
        border: solid $Black 2px;
    }
}

.main__comments--date {
    float: right;
    color: $Silver;
}

.main__comments--body {
    width: 80%;
    h3 {
        padding-bottom: 5%;
        display: inline-block;
    }
    h5 {
        font-weight: normal;
        padding: 0px;
    }
    h4 {
        padding-bottom: 7.5%;
        font-size: 4.37vw;
        line-height: 6vw;
        width: 100%;
    }
}

.main__profilepic--gray {
    @extend .main__profilepic;
    width: 13vw;
    height: 13vw;
    margin-right: 5%;
}

// Mobile Footer
footer {
    background-color: $Black;
    padding: 10% 0%;
    h4 {
        line-height: 20px;
    }
    h1 {
        font-size: 11vw;
        line-height: 10vw;
        color: $White;
        padding-left: 3%;
        padding-bottom: 10%;
    }
}

.footer__bio {
    margin-top: 26px;
}

.footer__container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
}

.footer__social {
    margin-left: 5%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10%;
}

.footer__social--icon {
    height: 6vw;
    padding: 0px, 20px;
}

.footer__logo {
    display: none;
}

.footer__text {
    color: $Mercury;
    font-family: AvenirNextRegular;
    font-weight: normal;
    padding-left: 3%;
    padding-bottom: 6%;
    font-size: 3.5vw;
    line-height: 5vw;
    font-weight: normal;
}

.footer__text--bold {
    @extend .footer__text;
    font-size: 4vw;
    color: $White;
    font-weight: 700;
    padding-top: 5%;
}

.footer__text--container {
    width: 100%;
}

.footer__copyright {
    @extend .footer__text;
    padding-top: 5%;
    width: 70%;
}

// Tablet Styling
@media (min-width: 600px) {

    h1 {
        font-size: 36px;
        line-height: 44px;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
    }

    h3 {
        font-size: 16px;
        line-height: 24px;
    }

    h4 {
        font-size: 14px;
        line-height: 22px;
    }

    h5 {
        font-size: 12px;
        line-height: 20px;
        padding: 0px;
    }

    table {
        margin: 0px 3%;
    }

    td {
        display: table-cell;
        width: auto;
    }

    // Tablet Navigation Bar
    nav {
        flex-wrap: nowrap;
        justify-content: space-between;

    }

    .nav__logo {
        align-self: center;
        padding: 0px 3vw;
    }

    .nav__pages {
        height: 80px;
        justify-content: flex-start;
        align-items: center;
        
    }

    .nav__text {
        box-sizing: border-box;
        width: 85px;
        height: 100%;
        margin: 0px 4%;
        padding: 32px 5px;
    }

    // Tablet Hero Image and Title
    header {
        height: 52vw;
    }

    .header__shows {
        height: 87vw;
    }

    .header__title {
        font-size: 8vw;
        line-height: 8.5vw;
        width: 70%;
        padding: 3%;
    }

    .header__text--small {
        font-size: 3.2vw;
        line-height: 4vw;
        padding-top: 8%;
        padding-bottom: 0px;
        font-family: AvenirNextBold;
    }


    .header__title--shows {
        line-height: 12vw;
        align-self: flex-start;
        width: 80%;
    }

    .header__SoundCloud--container {
        width: 94%;
    }

    .header__SoundCloud {
        width: 62%; 
        height: 20vw;
    }
    
    // Tablet Body and Photos
    .main__image--large {
        width: 94%;
        height: 47vw;
        padding: 35px 0px;
    }
    
    .main__image--small {
    width: 30%;
    padding-bottom: 3%;
    }

    .main__text {
        width: 94%;
    }

    .main__text--title {
        padding-bottom: 32px;
    }

    .main__text--label {
        display: none;
    }

    .main__label--top {
        display: table-cell;
        padding: 0px;
    }

    .main__text--info {
        padding: 0px;
        width: auto;
    }

    .main__text--date {
        font-size: 16px;
        line-height: 24px;
    }

    .main__table--date {
        width: 30%;
    }

    .main__table--info {
        width: 22%;
    }

    .main__table--button {
        text-align: right;
    }

    .main__button--cta {
        font-size: 14px;
        margin: 16px, 0px;
        width: 160px;
        height: 48px;
    }

    .main__divider {
        width: 100%;
        margin: 0px;
    }

    .main__quote {
        padding-bottom: 32px;
    }

    .main__quote--attribution {
        padding-bottom: 40px;
    }

    .main__paragraph--title {
        padding-bottom: 24px;
    }
    
    .main__paragraph--container {
        width: 94%;
        flex-direction: row;
        justify-content: space-between;
    }
    .main__paragraph--text:first-child {
        padding-right: 24px;
    }

    .main__photoGallery {
        margin-top: 48px;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: space-between;
        padding-bottom: 2%;
    }

    .main__comments--input {
        padding: 1.5vw;
        font-size: 2vw;
        line-height: 3vw;
    }

    .main__profilepic--container {
        margin-top: 24px;
        padding-top: 3vw;
        margin-right: 4%;
    }

    .main__profilepic {
        height: 6vw;
        width: 6vw;
    }

    .main__comments {
        align-self: center;
        width: 68vw;
        justify-content: flex-end;
        .main__divider {
            margin-bottom: 3vw;
        }
        h5 {
            padding-bottom: 0px;
            font-size: 1.7vw;
            line-height: 3vw;
        }
    }

    .main__comments--container {
        width: 59vw;
    }

    .main__comments--button {
        float: right;
        margin: 3vw 0px 3vw 0px;
        width: 20vw;
        height: 6vw;
    }

    .main__comments--date {
        float: none;
        display: inline-block;
        margin: 0px 8px;
    }

    .main__comments--body {
        width: 61vw;
        h3 {
           padding: 0px;
           font-size: 2vw;
           line-height: 3vw;
        }
        h4 {
            padding-bottom: 3vw;
            font-size: 1.8vw;
            line-height: 3vw;
        }
    }

    .main__profilepic--gray {
        margin-right: 2vw;
        height: 5vw;
        width: 5vw;
    }

    // Tablet Footer
    footer {
        padding: 7% 24px;
        h1 {
            font-size: 4.7vw;
            line-height: 44px;
            padding: 0px;
        }
    }
    
    .footer__container {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .footer__social {
        width: 63%;
        align-items: flex-start;
        margin: 0px;
        padding: 0px;
    }

    .footer__social--icon {
        height: 3vw;
        align-self: center;
    }

    .footer__logo {
        display: flex;
        align-self: center;
        padding-bottom: 10px;
        margin-left: 32%;
    }

    .footer__text {
        font-size: 2vw;
        line-height: 20px;
        display: flex;
        padding-left: 0px;
    }

    .footer__text--bold{
        font-size: 2vw;
    }

    .footer__copyright{
        font-size: 14px;
        padding-bottom: 0px;
    }

    .footer__text--container {
        width: 30%;
        margin-top: 30px;
    }
}


// Desktop Styling
@media (min-width: 1024px) {

    table {
        width: 100%;
        padding: 40px 0px;
        margin: 0px 12.5% 0px 0px;
    }

    // Desktop Navigation Bar
    .nav__logo {
        padding-left: 12.5vw;
        padding-right: 0px;
    }

    .nav__text  {
        width: 85px;
        margin-right: 0%;
    }

    // Desktop Hero Image and Title
    header {
        height: 47vw;
    }

    .header__title {
            padding: 12.5%;
            width: 100%;
            font-size: 60px;
            line-height: 68px;
    }

    .header__shows {
        height: 670px;
        flex-flow: row wrap;
        align-content: flex-start;
        padding-left: 12.5%;
    }

    .header__text--small {
        font-size: 24px;
        line-height: 32px;
        padding: 160px 0px 48px 0px;
        width: 100%;
    }

    .header__title--shows {
        font-size: 60px;
        line-height: 68px;
        padding: 0px;
        width: 600px;
        display: inline-block;
        margin-bottom: 48px;
    }

    .header__SoundCloud--container {
        width: 436px;
        padding-bottom: 13px;
    }

    .header__SoundCloud {
        width: 436px;
        height: 146px;
    }   

    // Desktop Body and Photos
    .main__image--large {
        width: 62%;
        height: 31vw;
        padding: 48px 0px;
    }

    .main__shows {
    flex-direction: row;
    justify-content: space-between;
    }

    .main__text {
        width: 75%
    }

    .main__text--title {
        width: 35vw;
        align-self: flex-start;
        margin-left: 12.5%;
        display: inline-block;
    }

    .main__quote {
        padding-bottom: 40px;
        width: 62%
    }

    .main__quote--attribution {
        padding-bottom: 56px;
        width: 62%
    }

    .main__paragraph--title {
        padding-bottom: 32px;
        width: 62%
    }

    .main__paragraph--container {
        width: 62%;
    }

    .main__paragraph--text:first-child {
        padding-right: 40px;
    }
    .main__photoGallery{
        padding-left: 12.5%;
        padding-right: 12.5%;
        justify-content: space-between;
        padding-bottom: 1%;
    }
    .main__photoGallery--title {
        padding-bottom: 64px;
        width: 100%;
    }

    .main__image--small {
       width: 32%;
       padding-bottom: 2%
    }

    .main__comments--input {
        padding: 11px;
        font-size: 14px;
        line-height: 22px;
    }

    .main__profilepic--container {
        padding: 0px;
        margin-top: 44px;
        margin-right: 20px;
    }

    .main__profilepic {
        height: 48px;
        width: 48px;
    }

    .main__comments {
        width: 528px;

        .main__divider {
            margin-bottom: 24px;
        }

        h5 {
            font-size: 12px;
            line-height: 20px;
        }
    }

    .main__comments--container {
        width: 460px;
    }

    .main__comments--button {
        margin: 24px 0px 24px 0px;
        height: 48px;
        width: 160px;
    }

    .main__comments--body {
        width: 472px;
        h3 {
           font-size: 16px;
           line-height: 24px;
        }
        h4 {
            padding-bottom: 24px;
            font-size: 14px;
            line-height: 20px;
        }
    }

    .main__profilepic--gray {
        margin-right: 16px;
        height: 40px;
        width: 40px;
    }

    // Desktop Footer
    footer {
        padding: 3% 12.5%;

        h1 {
            font-size: 2.5vw;
            padding-right: 5.5%
        }
    }

    .footer__container {
        justify-content: flex-start;
    }

    .footer__social--icon {
        height: 1.5vw;
    }

    .footer__social {
        width: 74%;
    }

    .footer__logo {
        margin-left: 65%;
        padding: 0px;
    }

    .footer__text--container {
        width: 274px;
    }

    .footer__text--container:nth-child(5) {
        width: auto;
    }

    .footer__text {
        font-size: 16px;
    }

    .footer__text--bold {
        font-size: 16px;
    }

    .footer__copyright {
        padding-top: 2.7%
    }
}
